*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	border:red 3px solid
}
body input:required:valid,
body textarea:required:valid {
	border: green 3px solid
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	background-color: #333333;
	width: 100%;
}

.hid {
	overflow: hidden;
	width: 100%;
}

.right {
	float: right;
}

.left {
	float: left;
}

/***************HEADER******************/

.logo {
	color: #fff;
	text-transform: uppercase;
	text-shadow:  1px 1px 1px #adadad;
	opacity: 0.9;
	word-spacing: -0.2em;
	margin-top: 20px;
	font-size: 55px;
	font-family: "AlternateGothic#2";
}

.logo span {
	font-size: 26px;
	color: #fe2232;
	font-size: 50px;
}

.registration {
	float: right;
}

.top_button {
	float: left;
}

/******************.top_nav*******************************/

.top_nav {
	margin: 0;
	float: right;
	padding: 0;
	margin: 40px 0;
	font-family: "LatoBold";
	font-size: 1em;
	font-weight: bold;
}

.top_nav_btn {
	margin: 10px;
	background-color: transparent;
	border-radius: 5px;
	color: #fff;
	float: left;
}


.top_nav li {
	display: inline-block;
	float: left;
	margin-right: 19px;

}

.top_nav li a {
	color: #a8a8a8;
	text-shadow: 1px 1px 1px #595959;
	transition: all 0.8s;
	-webkit-transition: all 0.8s;
	-o-transition: all 0.8s;
	-moz-transition: all 0.8s;
}

.top_nav li a:hover, .top_nav .active {
	color: #fe2232;
	cursor: pointer;
	text-shadow: 1px 1px 1px #792f33;
}

.top_nav a:active {
	color: #f2737c;
}

/*******************.top_nav's END**************************************/

/*******************form.registration*************************************/

.reg_btn {
	display: none;
	background-color: transparent;
	border-radius: 5px;
	color: #fff;
}

.registration p {
	margin: 0 auto;
}

.registration a {
	background-color: transparent;
	color: #a7a7a7;
	border: 1px solid #a7a7a7;
	border-radius: 2px;
	padding: 12px 16px;
	font-family: "LatoBold";
	font-size: 1em;
	font-weight: bold;
	transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	-moz-transition: all 1s;
}

.registration a:first-child {
	margin-right: 10px;
}

.registration a:hover {
	cursor: pointer;
	color: #ffffff;
	background-color: #fe2232;
	border: 1px solid #fe2232;
}

.registration a:active {
	color: #ffffff;
	background-color: #f2737c;
}

/*******************form.registration's END*************************************/

header h1 {
	color: #fff;
	text-align: center;
	font-family: "LatoLight";
	font-size: 38px;
	text-shadow: 1px 1px 1px #7a7a7a;
	margin-bottom: 45px; 
}

header h1 span {
	font-family: "LatoBlack";
}
/***************HEADER' END******************/

/***************MAP SECTION***********************/
.map_container {
	/*background: url(http://visitworldplaces.com/data_images/countries/ukraine/ukraine-10.jpg) no-repeat center center;*/
	height: 350px;
	width: 100%;
}
.map_line {
    background: url(../img/map_bg.png) repeat-x center center; 
    height: 5px;
    width: 100%;
}

#map {
	height: 100%;
	width: 100%;
}

/******************MAP SECTION'S END******************************/

/******************.search_container******************************************/
.search_container {
	background-color: #fff;
	min-height: 70px;
}

 .search_form {
      /*position: relative;*/
      /*min-height: 60px;*/
      font: 1em "LatoReg";
    }
  
  .search_form p {
  	display: inline-block;
  }

 .search_form .submit {
	background: url(../img/btn_bg.png) no-repeat  right center;
	width: 5%;
	height: 26px;
	border: none;
	vertical-align: middle;
      /*position: absolute;
		left: 92%;
		top: 3%;*/
    }

.search_container ul {
	min-height: 74px
}

.search_container ul li {
	min-height: 82px;
	vertical-align: middle;
}

.search_event {
	padding: 5px 10px;
/*::-webkit-input-placeholder {color:#000000;}*/
::-moz-placeholder          {color:#000000;}/* Firefox 19+ */
:-moz-placeholder           {color:#000000;}/* Firefox 18- */
:-ms-input-placeholder      {color:#000000;}
}
.search_form input {
     line-height: 38px;
     margin-left: 10px;
     border-radius: 2px;
     border: 1px solid #d8d7d7;
	text-shadow: 1px 1px 1px #f7f7f7;
    }

.calendar_btn {
	width: 20%;
	float: right;
	height: 35px;
    background: url(../img/calendar.png) no-repeat 2% 106%;
	cursor: pointer;
	}

.search_section {
	width: 80%;
	float: left;
}

.search_section input:first-child {
	width: 50%;
}

.search_section input:nth-child(2) {
	width: 25%;
}

.calendar_btn input {
	border:none;
	background-color: transparent;
	width: 140px;
	height: 35px;
	overflow: hidden;
	font-family: "LatoBold";
	color: #d8d7d7;
	}

/*******************.search_container'S END**********************************/

/******************MAIN*******************************/

main {
	width: 100%;
	background-color: #f4f4f4;
	padding-bottom: 40px;
	overflow: hidden;
}
.tab_content {
	margin-bottom: 30px;
}

main .row {
	margin-top: 40px;
}

/************************.event_item************************************/

/*.event_item {
	background-color: #fff;
}*/

.img_cont {
	background: url(../img/e1_bg.png) no-repeat center center;
	/*max-width: 350px;*/
	min-height: 209px;
	width: 100%;
	position: relative;
}

.caption {
	margin: 0;
	font: 1em normal "LatoReg";
	color: #fff;
	text-shadow: 1px 1px 1px #000000;
	position: absolute;
    top: 75%;
    right: 3%;
}

.f, a.like {
	color: #3a589b;
}

.like {
	background: url(../img/like.png) no-repeat right center;
	cursor: pointer;
	width: 34px;
	height: 30px;
	display: inline-block;
}

.event_rate {
	background-color: #fff;
}

main section .event_rate .rate {
	background-color: #f7f7f7;
}

.rate {
	padding: 16px 0;
    width: 49%;
    float: left;
    min-height: 102px;
	background: url(../img/w_toilet.png) no-repeat 10% center;
}

.rate:first-child {
	margin-right: 2%;
	background: url(../img/m_toilet.png) no-repeat 10% center;
}

.rate_section {
	width: 65%;
	float: right;
	font-family: "LatoBold";
}

.rate_section p:first-child {
	color: #36393b;
	text-shadow: 1px 1px 1px #e4e4e4;
	font-size: 2em;
	margin: 5px 0;
}

.rate_section span {
	font-size: 0.7em;
}

.rate_section p:last-child {
	text-transform: uppercase;
	color: #d0d0d0;
	text-shadow: 1px 1px 1px #ededed;
	margin: 0;
	font-size: 1em;
}

.event_item {
	background-color: #fff;
    min-height: 102px;
    box-shadow: 5px 2px 5px #ececec;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.event_item h3 {
	font: 24px "LatoBold";
	text-shadow: 1px 1px 1px #d6d6d7;
	margin: 0;
}

.event_item article {
	padding: 17px 25px;
	font: 14px "LatoReg";
}

.event_item h5 {
	color: #646464;
	text-shadow: 1px 1px 1px #b7b7b7;
	margin: 10px 0 6px 0;
}

.event_item .adress {
	color: #b9b9b9;
	margin: 0 0 20px 0;
	text-shadow: 1px 1px 1px #dddddd;
}

.event_item .description {
	color: #646464;
	text-shadow: 1px 1px 1px #b7b7b7;

}

/*************************.event_item'S END************************************/

.more_btn {
	display: block;
	color: #8e9498;
	font: 1em "LatoReg";
	text-shadow: 1px 1px 1px #e1e2e3;
	background-color: #ffffff;
	border: 2px solid #e4e4e4;
	border-radius: 4px;
	width: 200px;
	margin: 0 auto;
	transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	-moz-transition: all 1s;
}

.more_btn:hover {
	background-color: #f7f7f7;
}

.more_btn:active {
	background-color: #f7f7f7;
	color: #000000;
}

.more_btn p {
	margin: 15px 0;
	text-align: center;
	height: 100%;
}

/*******************MAIN'S END**********************************/
/********************FOOTER*************************************/
footer {
	background-color: #333333;
	width: 100%;
}

.bottom_menu {
	width: 62%;
	height: auto;
	margin: 0px 19%;
}

.bottom_menu li {
	display: block;
	position: relative;
	float: left;
	margin: 37px 10px 30px 10px;
	font: 11px "LatoReg";
}

.bottom_menu li:nth-child(2)::after {
    content: '';
    width: 2px;
    display: block;
    height: 2px;
    background-color: #595959;
    position: absolute;
    left: -10px;
    top: 5px;
}

.bottom_menu li:nth-child(3)::after {
    content: '';
    width: 2px;
    display: block;
    height: 2px;
    background-color: #595959;
    position: absolute;
    left: -10px;
    top: 5px;
}

.bottom_menu li:nth-child(4)::after {
    content: '';
    width: 2px;
    display: block;
    height: 2px;
    background-color: #595959;
    position: absolute;
    left: -10px;
    top: 5px;
}

.bottom_menu li:nth-child(5)::after {
    content: '';
    width: 2px;
    display: block;
    height: 2px;
    background-color: #595959;
    position: absolute;
    left: -10px;
    top: 5px;
}

.bottom_menu li:nth-child(6)::after {
    content: '';
    width: 2px;
    display: block;
    height: 2px;
    background-color: #595959;
    position: absolute;
    left: -10px;
    top: 5px;
}

.bottom_menu li:nth-child(7)::after {
    content: '';
    width: 2px;
    display: block;
    height: 2px;
    background-color: #595959;
    position: absolute;
    left: -10px;
    top: 5px;
}

.bottom_menu li:nth-child(8)::after {
    content: '';
    width: 2px;
    display: block;
    height: 2px;
    background-color: #595959;
    position: absolute;
    left: -10px;
    top: 5px;
}

.bottom_menu li:nth-child(9)::after {
    content: '';
    width: 2px;
    display: block;
    height: 2px;
    background-color: #595959;
    position: absolute;
    left: -10px;
    top: 5px;
}

.bottom_menu li:nth-child(10)::after {
    content: '';
    width: 2px;
    display: block;
    height: 2px;
    background-color: #595959;
    position: absolute;
    left: -10px;
    top: 5px;
}
.bottom_menu li a {
	color: #a8a8a8;
	margin: 0;
	text-shadow: 0 1px 1px #6b6b6b;
	transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	-moz-transition: all 1s;
}

.bottom_menu li:hover a {
	color: #fff;
}

.footer_line {
	width: 100%;
	height: 2px;
	background: url(../img/line_footer_bg.png) repeat-x 0 0;

}

.copyright {
	font: 13px "LatoLight";
	color: #919191;
	text-shadow: 1px 1px 1px #7a7a7a;
	margin-top: 30px;
}

.copyright a {
	font: 14px bold "LatoBold";
	color: #fff;
}

.soc_buttons {
	float: right;
}

.soc_buttons li {
	display: block;
	float: left;
	margin: 15px 20px 35px 20px;
}

.soc_icon {
	color: #999999;
	transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	-moz-transition: all 1s;
}

.soc_icon:hover {
	color: #fff;
}

/********************FOOTER'S END************************************/


/********************.hidden*************************/

.hidden {
	display: none; 
}


/************************#signin***********************/
.signin .logo {
	color: #d4d4d4;
	font-size: 50px;
	margin: 0;
}

.signin {
	width: 320px;
}
/*
.signin label {
	display: block;
	width: 100%;
}*/
.signin p, .tab-content p {
	font: 16px "LatoReg";
	padding: 3px 0;
	width: 100%;
	overflow: hidden;
}

.signin input {
	width: 170px;
	padding: 3px 8px;
	display: block;
	font-family: "LatoLight";
	text-shadow: 1px 1px 1px #d3d3d3;
}


.submit_btn {
	background-color: #333333;
	text-transform: uppercase;
	font: 18px "LatoBold";
	color: #a7a7a7;
	border: 1px solid #a7a7a7;
	border-radius: 5px;
	padding: 12px 16px;
	font-family: "LatoBold";
	font-size: 1em;
	font-weight: bold;
	transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	-moz-transition: all 1s;
}

.submit_btn:hover {
	cursor: pointer;
	color: #ffffff;
	background-color: #fe2232;
	border: 1px solid #fe2232;
}

.submit_btn:active {
	color: #ffffff;
	background-color: #f2737c;
}


.cntr {
	float: none;
	margin: 0 auto;
}

.fancybox-skin {
	background-color: #f7f7f7;
}

.fancybox-inner {
	min-height: 500px;
	padding: 10px;
}

/**************************TABS*********************************/

}
.tabs {
    	width:100%;
    	display:inline-block;
}
.tab-menu{
	margin:0;
	padding: 0;
}
.tab-menu:after {
        display:block;
        clear:both;
        content:'';
} 
.tab-menu li {
        margin:0px 10px;
        float:left;
        list-style:none;
        height: 100%;
}
.tab-menu a {
      	padding:9px 0;
      	margin-top: 25px;
   		display:inline-block;
   		font-size:16px;
       	font-weight:600;
     	color:#4c4c4c;
     	transition:all linear 0.15s;
		text-decoration:none;
		color: #b3b3b3;
		font: 1.1em normal "LatoReg";
}

.tab-menu li.active {
	border-bottom: 3px solid #fe2232;
}

.tab-menu li.active a {
        color: #000000;
		font: 1.1em normal "LatoBold";
}
.tab-content {
	min-width: 320px;
	float: left;
}
.tab {
    	display:none;
}

.tab.active {
     	display:block;
}

/**************************TABS'ES END****************************/

form label p {
	font: 16px "LatoBlack";
}

/*****************************#signin'S END**********************/


/*******************.hidden'S END****************************/