/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	
	.bottom_menu {
		display: none;
	}

	.logo {
		text-align: center;
		text-decoration: underline;
	}

	.top_nav {
		display: none;
		float: right;
		margin: 0;
		padding-left: 20px; 
		background-color: #d3d3d3;
		border-radius: 3px;
	}

	.top_nav li {
		float: none;
	}

	.top_nav li a {
		color: #fff;
	}

	.logo {
		font-size: 40px;
		padding: 0;
	}

	.registration {
		margin-right: 35px; 
		float: left;
		padding: 0 20px;
	}

	.registration a {
		padding: 4px 6px;
	}

	nav {
		position: relative;
		float: none;
	}

	.top_nav_btn {
	    float: none;
	    margin: 0; 
	}

	.event_item {
		margin-bottom: 50px;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

.top_nav {
	margin: 0;
	padding: 0;
	right: 20%;
}

.top_nav li {
		display: block;
	}

.top_nav li:hover {
	cursor: pointer;s
}

	.top_nav_btn {
		float: right;
		margin-right: 50px;
	}

}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.reg {
		display: none;
	}

	.top_button {
		margin: 15px 0 10px 25px;
	}

	.reg_btn {
		display: block;
		margin-left: 50px;
	}

	.registration {
    	padding: 0 20px;		
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.top_nav {
		display: block;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}